In [21]:
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns

df = pd.read_csv('NOAA LS (16-18).csv')
df.head()

         date  number_of_strikes   center_point_geom
0  2016-08-05                 16  POINT(-101.5 24.7)
1  2016-08-05                 16     POINT(-85 34.3)
2  2016-08-05                 16     POINT(-89 41.4)
3  2016-08-05                 16   POINT(-89.8 30.7)
4  2016-08-05                 16   POINT(-86.2 37.9)

In [ ]:
# Convert the `date` column to datetime.
df['date'] = pd.to_datetime(df['date'])
# Create four new columns.
df['week'] = df['date'].dt.strftime('%Y-W%V')
df['month'] = df['date'].dt.strftime('%Y-%m')
df['quarter'] = df['date'].dt.to_period('Q').dt.strftime('%Y-Q%q')
df['year'] = df['date'].dt.strftime('%Y')
df.head(10)

In [ ]:
# Create a new dataframe view of just 2018 data, summed by week.
df_by_week_2018 = (
    df[df['year'] == 2018] 
    .groupby('week')
    .sum(numeric_only=True) 
    .reset_index()
)
# NOTE: In pandas v.2.X+ you must set 'numeric_only=True' in the sum() function or else it will throw an error

In [ ]:
# Plot a bar graph of weekly strike totals in 2018.
plt.bar(x = df_by_week_2018['week'], height = df_by_week_2018['number_of_strikes'])
plt.plot()
plt.xlabel("Week number")
plt.ylabel("Number of lightning strikes")
plt.title("Number of lightning strikes per week (2018)");

In [ ]:
plt.figure(figsize = (20, 5)) # Increase output size.
plt.bar(x = df_by_week_2018['week'], height = df_by_week_2018['number_of_strikes'])
plt.plot()
plt.xlabel("Week number")
plt.ylabel("Number of lightning strikes")
plt.title("Number of lightning strikes per week (2018)")
plt.xticks(rotation = 45, fontsize = 8) # Rotate x-axis labels and decrease font size.

plt.show()

In [ ]:
df_by_quarter = df['number_of_strikes'].div(1000000)
df_by_quarter.head()